{
    "CN":"system:kube-controller-manager",
    "hosts":{{groups['master']|to_json}},
    "key":{
        "algo":"rsa",
        "size":2048
    },
    "names":[
        {
            "C":"CN",
            "ST":"{{cert.names.st }}",
            "L":"{{cert.names.l}}",
            "O":"{{cert.names.o}}",
            "OU":"{{cert.names.ou}}"
        }
    ]
}